.leftMenu {
    width: 18%;
    height: 600px;
    background-color: rgb(43,47,62);
    display: inline-block;
    float: left;
    color: grey;
    font-size: 36pt;
    font-family: "Open Sans";
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 31.9px;
}
.leftMenuActive {
    background-color: rgb(255,57,81);
    color: white;
    height: 40px;
    font-size: 20px;
    margin-top: 50px;
    padding: 15px 0 0 15px;
}
.itemList {
    display: inline-block;
    width: 37%;
    float: left;
    border: solid 2px lightgrey;
    margin: 20px 10px 20px 30px;
    min-height: 400px;
    height: auto;
    font-size: 30px;

}
.comments {
    display: inline-block;
    width: 36%;
    float: left;
    border: solid 2px lightgrey;
    margin: 20px 10px 20px 5px;
    min-height: 500px;
    height:auto;
    font-size: 30px;
    padding: 15px 0 0 10px;
}
.add-btn {
    color: white;
    background-color: rgb(39,204,192);
    border: none;
    width: 130px;
    height: 35px;
    border-radius: 4px;
    font-size: 17px;
}
.search-input {
    width: 290px;
    height: 35px;
    border: 1px solid lightgrey;
    border-radius: 3px;

}
.addNewItem {
    padding-top: 15px;
    margin-bottom: 10px;
  display: inline-block;
  padding: 15px 0px 0px 10px;
}
/**********************************************/
.userBlock {
    border-bottom: 1px solid lightgrey;
    width: 100%;
    height: 40px;
    padding-bottom: 10px;
  padding-top: 10px;
  display: inline-block;
}
 .info {
    display: inline-block;
    width: 60%;
    overflow: hidden;
    font-size: 20px;
   margin-left: 20px;
}
 .btn-danger {
   display: inline-block;
    background-color: white;
    border-radius: 4px;
    border:1px solid #d43f3a;
    width: 90px;
    height: 35px;
    float: right;
    color: red;
    font-size: 15px;
}
.itemselected {
      border-left:3px solid deeppink;
      margin-left: -3px;


}
.commentText {
    height: 70px;
    width: 80%;
    margin-bottom: 10px;
    float: right;
}
.myComments {
    width:90%;
    min-height: 400px;
  height:auto;

}

