
.mealList {
    display: inline-block;
    width: 45%;
    float: left;
    border: solid 2px lightgrey;
    margin: 20px 35px 20px 30px;
    min-height: 400px;
    height: auto;
    font-size: 45px;
    color: black;
    font-family: "Arial", "Arial Narrow", sans-serif;
    padding: 20px 0 0 20px;
    background-color: white;
    opacity: 0.9;
    border-radius: 15px;
}
.recipes {
    display: inline-block;
    width: 45%;
    float: left;
    border: solid 2px lightgrey;
    margin: 20px 10px 20px 5px;
    min-height: 300px;
    font-size: 45px;
    color: black;
    font-family: "Arial", "Arial Narrow", sans-serif;
    padding: 20px 0 0 20px;
    background-color: white;
    opacity: 0.9;
    border-radius: 15px;

}
.add-btn {
    color: white;
    background-color: rgb(39,204,192);
    border: none;
    width: 130px;
    height: 35px;
    border-radius: 4px;
    font-size: 17px;
}
.search-input {
    width: 77%;
    height: 35px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-left: -15px;
}
.addNewMeal {
    padding-top: 15px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 15px 0px 0px 10px;
    width: 100%;
    opacity: 0.8;
}
.userBlock {
    border-bottom: 1px solid lightgrey;
    width: 100%;
    min-height: 40px;
    height: auto;
    padding-bottom: 7px;
    padding-top: 7px;
    display: inline-block;
    margin-left: -17px;
}
 .info {
    display: inline-block;
    min-width:50px;
    width:auto;
    overflow: hidden;
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
    color: black;
    float:left;
}
 .btn-delete {
   display: inline-block;
    background-color: white;
    border-radius: 4px;
    border:1px solid #d43f3a;
    width: 100px;
    height: 40px;
    float: right;
    color: red;
    font-size: 15px;
}
.itemselected {
      border-left:5px solid rgb(255,57,81);
      margin-left: -22px;
}
.recipeText {
    height: 35px;
    width: 77%;
    margin-top: 20px;
    float: left;
    margin-right: 15px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}
.myRecipes {
    width: 100%;
    min-height: 277px;
    height:auto;
    float:left;
    display: inline-block;
    margin-left: -10px;
}

.recipe {
  border-bottom: 1px solid lightgrey;
  width: 100%;
  min-height: 30px;
  height: auto;
  display: inline-block;
}
.recipeBlock {
  width: 80%;
  min-height: 30px;
  height: auto;
  padding-bottom: 15px;
  padding-top: 10px;
  display: inline-block;
  float:left;
  font-size: 15px;
  overflow: auto;
  color: black;
    margin-left: 10px;

}
.addNewRecipe {
    padding-top: 13px;
    margin-bottom: 20px;
}




