<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>project</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">


    <link rel="stylesheet" href="styles/main.css" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>
<body ng-app="App" background="images/img.jpeg">

<div class="mealList">Meals
    <div  ng-controller="MealCtrl">
        <div class="addNewMeal">
            <input  class="search-input" type="text" placeholder="Type name of meal here..." ng-model="mealName" >
            <button class="add-btn" ng-click="AddMeal()">Add new</button>
        </div>
        <div class="meals">
            <mymeal meal="meal"  delete="DeleteMeal" class="userBlock" ng-repeat="meal in meals track by $index"
                    ng-click="select($index)"  ng-class="{'itemselected': $index == selected}">
            </mymeal>
        </div>
    </div>
</div>

<div class="recipes" ng-controller="MealCtrl">Recipes
    <div class="addNewRecipe">
        <input type="text" placeholder="Type recipe here..." class="recipeText" ng-model="recipeText">
        <button class="add-btn" ng-click="AddRecipe()"> Add new</button>
    </div>
    <div class="myRecipes">
      <myrecipe  recipe="rec" delete="DeleteRecipe" ng-repeat="rec in recipes track by $index"></myrecipe>
    </div>

</div>

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="scripts/main.js"></script>

</body>
</html>