<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>project</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->

    <!-- endbuild -->
</head>
<body ng-app="App" >

<div class="leftMenu">Main
    <div class="leftMenuActive">Overview</div>
</div>
<div class="itemList">Items
    <div  ng-controller="ItemCtrl">
        <div class="addNewItem">
            <input  class="search-input" type="text" placeholder="Type name here..." ng-model="itemName" >
            <button class="add-btn" ng-click="AddItem()">Add new</button>
        </div>
        <div class="items">
            <myitem item="it"  delete="DeleteItem" class="userBlock" ng-repeat="it in items track by $index" ng-click="select($index)" ng-class="{'itemselected': $index == selected}">
            </myitem>
        </div>
    </div>
</div>

<div class="comments">Comments #2
    <div class="myComments" ng-controller="ItemCtrl">
      <mycomment comment="com" ng-repeat="com in comments track by $index" ></mycomment>
    </div>
    <div>
        <div>
        </div>
        <input type="text" class="commentText" ng-model="comentText">
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="scripts/main.js"></script>

</body>
</html>